header{
  background-color: #231e31; 
  height: 120px;
}
header img{
	margin-left: 330px;
}

ul{
	background-color: black;
	margin-top: 50px;
	width: 950px;
}
.menu li{
display: inline-block;
list-style: none;
padding: 10px;
font:bold;
color: white;
font-size: 20px;
}
.text{
	margin-left: 200px;
}
.drop:hover .content{
display: block;
}
.content a{
	color: white;
	padding: 12px 16px;
	display: block;
	text-align: center;
}
.drop a:hover{
background-color: #231e31;
}
.content a:hover{
background-color: #231e31;
}
.content a{
	background-color: black;
}
.content {
	display: none;
	position: absolute;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px;
}
li a,.drpbtn{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

.top2{	
display: inline-block;	
background-image: url("../images/w1.jpg" ) ;
background-size: 1250px 600px;
background-size: 100%;
width: 1250px;
height: 600px;
margin-left: 200px;	
}

div.herot p{
	font-size: 50px;
	font-style: solid;
	color: black;
	position: AB
}

.form{
 position:relative;
    display:inline-block;
    margin-top: 50px;
    border:3px;
    border-style:solid;   
}

input.sfield{
    background-color:#fff;  
    border-color:#cecece;
    border-style:solid;
    border-width:1px 0 1px 1px;
    font-size:0.9em;
    line-height:1;
    padding:5px;
    display:inline-block;
    padding-right:50px;
}

input.sbutton{
    background-color:#d91515;
    border:none;    
    color:#fff;
    position:absolute;
    top:0px;right:0px;bottom:0px;
    width:50px;
}

.article{
	float:left;
height: 500px;
-webkit-column-count: 2;
	 -webkit-column-gap:20px;
}

article{
	background-color: #f9f4f4;
}

.foot li{
	display: inline-block;

}

